
<div class="container pt-4">
  <button *ngIf="!productSelected" class="btn btn-primary" (click)="newProduct()">Nuevo producto</button>
  <ng-container *ngIf="productSelected">
    <input type="text" [(ngModel)]="productSelected.title" class="form-control">
    <textarea type="text" [(ngModel)]="productSelected.description" class="form-control"></textarea>
    <button class="btn btn-primary" (click)="save()">Guardar</button>
  </ng-container>

  <div class="row">
    <div class="col-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" alt="">
        <div class="card-content">
          <p class="card-title">{{ product.title }}</p>
          <p  class="card-text">{{ product.description | slice:0:50 }}...</p>
          <button class="btn btn-sm btn-info" (click)="editProduct(product)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
        </div>

      </div>
    </div>
  </div>
</div>
